[Unit]
Description=Video service for viewing the remote controlled car camera.
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=robot
WorkingDirectory=/home/robot/autorun
ExecStart=/home/robot/autorun/video-stream.sh
EnvironmentFile=/home/robot/autorun/.env

[Install]
WantedBy=multi-user.target